body {
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.3), 
    rgba(0, 0, 0, 0.3)
  ),
  url(https://3.bp.blogspot.com/-t0wwPybRrm8/XLchpFOlHgI/AAAAAAAADfg/qtu9RwQtHw8y_Bsi4CY5k_0jYUvxJsYLQCLcBGAs/s1600/hacker.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
}